/* ---- 780px ---- */
@media only screen and (max-width: 780px) {

    /* ---- Common Tags ---- */
    #custome-btn {
        padding: 10px 15px;
    }

    #custome-btn .btn-arrow {
        position: absolute;
        margin-left: 0.2rem;
    }

    #custome-btn svg {
        width: 30px;
    }

    #custome-btn-2 {
        padding: 10px 15px;
    }

    .section-header span {
        font-size: 2.5rem;
        margin-top: -2.5rem;
    }

    .social-link {
        display: none;
    }

    .footer-icons section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-icons section a {
        display: block;
    }

    /* ---- Home Page ---- */
    #home-page {
        height: auto;
    }

    .navbar-brand img {
        width: 40px;
    }

    .header_wrapper .navbar {
        background-color: #1C1D25;
    }

    .home_page_wrapper {
        padding: 15rem 1rem;
    }

    .home_page_wrapper section {
        width: 100%;
    }

    .home_page_wrapper h4 {
        font-size: 36px;
        color: #fff;
    }

    .home_page_wrapper h1 {
        color: orange;
        text-transform: uppercase;
        font-size: 45px;
    }

    .home_page_wrapper p {
        width: 100%;
        font-size: 18px;
    }

    /* ---- About Page ---- */
    #about-page {
        height: auto;
    }

    .about_page_wrapper {
        padding: 3rem 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about_page_wrapper section {
        width: 100%;
    }

    .about_page_wrapper section:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about_page_wrapper .profile-img {
        width: 350px;
    }

    .about_page_wrapper .about-desc {
        font-size: 17px;

    }

    /* ---- Skill Page ---- */
    #skills-page {
        height: auto;
    }

    .skill_page_wrapper {
        padding: 5.5rem 10px;
    }

    /* ---- Project Page ---- */
    .project_page_wrapper {
        width: 100%;
        padding: 5.5rem 0;
    }

    .project_page_wrapper .row {
        padding: 0;
        margin-top: 2rem;
    }

    .project_page_wrapper .project-card {
        width: 100%;
        height: 400px;
    }

    .project_page_wrapper .project-card img {
        border-radius: 0;
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }

    .project-card-body {
        color: #fff;
        position: relative;
        z-index: 1;
        padding: 3rem;
    }

    .project-card-body h2 {
        font-size: 44px;
    }

    .project-card-body p {
        letter-spacing: 1px;
    }

    .project-card-body:nth-child(even) {
        text-align: right;
    }

    .project-card .desc-odd {
        text-align: end;
    }

    .project-card-body .number-odd {
        display: none
    }

    .project-card-body .number-even {
        display: none
    }

    /* ---- Blog Page ---- */
    #blog-page {
        height: auto;
    }

    .blog_page_wrapper {
        padding: 5.5rem 0;
    }

    .blog_page_wrapper .blog-card {
        width: 100%;
        width: 20rem;
        height: 22rem;
        background-color: #fff;
        margin: 10px;
    }

    /* ---- Contact Page ---- */
    #contact-page {
        height: auto;
    }

    .contact_page_wrapper {
        padding: 5.5rem 10px;
    }

    /* ---- Footer ---- */
    .footer {
        display: flex;
        flex-direction: column;
    }

    /* ---- Project Page ---- */
    .project_wrapper .image-section {
        width: 100%;
        height: 380px;
    }

    .project_wrapper .image-section h1 {
        font-size: 35px;
    }

    .project_wrapper .project-description h1 {
        font-size: 45px;
    }

    .project_wrapper .project-description p {
        width: 100%;
    }

    .project_wrapper .project-role p {
        width: 100%;
    }
}

/* ---- 480px ---- */
@media only screen and (max-width: 480px) {

    /* ---- Common Tags ---- */
    #custome-btn {
        padding: 7px 15px;
    }

    #custome-btn .btn-arrow {
        position: absolute;
        margin-left: 0.2rem;
    }

    #custome-btn svg {
        width: 30px;
    }

    #custome-btn-2 {
        padding: 7px 15px;
    }

    .section-header span {
        font-size: 2.5rem;
        margin-top: -2.5rem;
    }

    .social-link {
        display: none;
    }

    .footer-icons section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-icons section a {
        display: block;
    }

    /* ---- Home Page ---- */
    #home-page {
        height: auto;
    }

    .navbar-brand img {
        width: 40px;
    }

    .header_wrapper .navbar {
        background-color: #1C1D25;
    }

    .home_page_wrapper {
        padding: 13rem 1rem;
    }

    .home_page_wrapper section {
        width: 100%;
    }

    .home_page_wrapper h4 {
        font-size: 18px;
        color: #fff;
    }

    .home_page_wrapper h1 {
        color: orange;
        text-transform: uppercase;
        font-size: 20px;
    }

    .home_page_wrapper p {
        width: 100%;
        font-size: 16px;
    }

    .scroll-ind {
        display: none;
    }

    /* ---- About Page ---- */
    #about-page {
        height: auto;
    }

    .about_page_wrapper {
        padding: 3rem 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about_page_wrapper section {
        width: 100%;
    }

    .about_page_wrapper section:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about_page_wrapper .profile-img {
        width: 250px;
    }

    .about_page_wrapper .about-desc {
        font-size: 15px;

    }

    /* ---- Skill Page ---- */
    #skills-page {
        height: auto;
    }

    .skill_page_wrapper {
        padding: 5.5rem 10px;
    }

    /* ---- Project Page ---- */
    .project_page_wrapper {
        width: 100%;
        padding: 5.5rem 0;
    }

    .project_page_wrapper .row {
        padding: 0;
        margin-top: 2rem;
    }

    .project_page_wrapper .project-card {
        width: 100%;
        height: 250px;
    }

    .project_page_wrapper .project-card img {
        border-radius: 0;
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }

    .project-card-body {
        color: #fff;
        position: relative;
        z-index: 1;
        padding: 3rem;
    }

    .project-card-body h2 {
        font-size: 24px;
    }

    .project-card-body p {
        letter-spacing: 1px;
    }

    .project-card-body:nth-child(even) {
        text-align: right;
    }

    .project-card .desc-odd {
        text-align: end;
    }

    .project-card-body .number-odd {
        display: none;
    }

    .project-card-body .number-even {
        display: none;
    }

    /* ---- Blog Page ---- */
    #blog-page {
        height: auto;
    }

    .blog_page_wrapper {
        padding: 5.5rem 0;
    }

    .blog_page_wrapper .blog-card {
        width: 100%;
        height: 18rem;
        background-color: #fff;
        margin: 10px;
    }

    /* ---- Contact Page ---- */
    #contact-page {
        height: auto;
    }

    .contact_page_wrapper {
        padding: 5.5rem 10px;
    }

    /* ---- Footer ---- */
    .footer {
        display: flex;
        flex-direction: column;
    }

    /* ---- Project Page ---- */
    .project_wrapper .image-section {
        width: 100%;
        height: 200px;
    }

    .project_wrapper .image-section h1 {
        font-size: 25px;
    }

    .project_wrapper .project-description h1 {
        font-size: 35px;
    }

    .project_wrapper .project-description p {
        width: 100%;
    }

    .project_wrapper .project-role p {
        width: 100%;
    }

}