@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/* ---- Custom Color ---- */
:root {
    /* ---- Default Dark Mode ---- */
    --main-body-color: #1C1D25;
    --color-black-one: #000;
    --color-black-two: #111;
    --color-white-one: #FFF;
    --color-white-two: #F0F8FF;
    --color-white-three: #D2D2D2;
    --color-white-four: ##E2E2E2;
    --color-red-one: #FF416C;
    --color-red-two: #BF4F57;
    --color-orange-one: #FF4B2B;
    --color-orange-two: #FFA500;
    --color-grey: #808080;
    --color-blue-one: #141E30;
    --color-blue-two: #243B55;

    /* ---- Default Dark Mode ---- */
    --background-color: var(--main-body-color);
    --button-text-color: var(--color-white-two);
    --text-color: var(--color-white-one);
    --section-header-color: var(--color-grey);
    --card-color: var(--color-white-one);
    --card-text-color: var(--color-black-two);
    --text-description-color: var(--color-black-one);
}

/* ---- Light Mode ---- */
.light-mode {
    --background-color: var(--color-white-three);
    --button-text-color: var(--color-black-two);
    --text-color: var(--color-black-two);
    --section-header-color: var(--color-grey);
    --card-color: var(--color-white-one);
    --card-text-color: var(--color-black-two);
    --text-description-color: var(--color-black-one);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


/* ---- Scroll ---- */
html {
    scroll-behavior: smooth;
    scroll-behavior: auto;
}

html::-webkit-scrollbar {
    width: .5vw;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--color-white-three);
}

html::-webkit-scrollbar-track {
    background-color: var(--color-black-one);
}


/* ---- Particles JS ---- */
canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


/* ---- Common Tags ---- */
a {
    text-decoration: none;
}

#custome-btn {
    position: relative;
    padding: .7rem 1.8rem;
    background: var(--color-red-one);
    background: -webkit-linear-gradient(to right, var(--color-orange-one), var(--color-red-one));
    background: linear-gradient(to left, var(--color-orange-one), var(--color-red-one));
    border-radius: 0px;
    color: var(--button-text-color);
    letter-spacing: 2px;
    text-decoration: none;
}

#custome-btn:focus {
    box-shadow: none;
}

#custome-btn .btn-arrow {
    position: absolute;
    margin-left: .7rem;
}

#custome-btn:hover {
    box-shadow: 0px 0px 8px 0px var(--color-red-one);
}

#custome-btn:hover {
    box-shadow: 0px 0px 8px 0px var(--color-red-one);
}

#custome-btn-2 {
    padding: .7rem 1.8rem;
    border-radius: 0px;
    color: var(--button-text-color);
    letter-spacing: 2px;
    text-decoration: none;
    border: 1px solid var(--color-red-one);
}

#custome-btn-2:focus {
    box-shadow: none;
}

#custome-btn-2:hover {
    box-shadow: 0px 0px 8px 0px var(--color-red-one);
}

.section-header {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 3px;
}

.section-header span {
    color: var(--section-header-color);
    opacity: 0.2;
    font-size: 3.5rem;
    margin-top: -3.2rem;
}

#scroll-btn {
    display: none;
    position: fixed;
    bottom: 3.5rem;
    right: 30px;
    z-index: 1000;
    border: none;
    background-color: var(--color-red-one);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 2px;
    font-size: 12px;
    transition: 0.5s;
    padding: 10px 15px;
}

#scroll-btn:hover {
    box-shadow: 0px 0px 8px 0px var(--color-red-one);
}

.social-link {
    position: fixed;
    left: 3rem;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.social-icon {
    position: relative;
}

.social-icon section {
    position: absolute;
    right: 0;
    left: 0;
    margin: -16rem -0.9rem;
}

.social-icon section a {
    color: var(--text-color);
    font-size: 1.6rem;
    margin: 2rem 0;
}

.social-icon section .coffee-img {
    width: 1.3rem;
}

.social-icon section .coffee-img:hover,
.social-icon section i:hover {
    transform: scale(1.05);
}

.error_span {
    font-size: 12px;
    color: var(--color-red-one);
}

.footer-icons section a {
    display: none;
    color: var(--text-color);
    font-size: 1.6rem;
    margin: 1rem;
}

.footer-icons section .coffee-img-2 {
    width: 1.3rem;
}

.text-highlight {
    color: var(--color-red-one);
    text-transform: uppercase;
}


/* ---- Navbar ---- */
.navbar-brand img {
    width: 50px;
}

.navbar-nav .nav-item {
    margin: .3rem;
}

.navbar-nav .nav-item a {
    position: relative;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 0.5px;
    opacity: 0.7;
}

.header_wrapper .nav-item a::after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 0;
    left: 0;
    width: 0;
    transition: 0.5s;
}

.header_wrapper .nav-item a:hover::after {
    width: 100%;
    background-color: var(--color-red-one);
}

.header_wrapper .navbar-toggler {
    border: none;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header-scrolled {
    width: 100%;
    z-index: 1000;
    background-color: var(--background-color);
    box-shadow: 0px 2px 4px var(--background-color);
    -webkit-box-shadow: 0px 2px 4px var(--background-color);
}

.navbar-toggler img {
    width: 30px;
}

.header_wrapper .nav-item i {
    cursor: pointer;
}


/* ---- Home Page ---- */
#home-page {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}

.home_page_wrapper {
    padding: 13.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_page_wrapper section {
    position: relative;
    width: 75%;
}

.home_page_wrapper h4 {
    font-size: 40px;
    color: var(--text-color);
}

.home_page_wrapper h1 {
    color: var(--color-orange-two);
    text-transform: uppercase;
    font-size: 65px;
}

.home_page_wrapper p {
    width: 75%;
    font-size: 18px;
    color: var(--text-color);
    letter-spacing: 1.5px;
}


/* ---- Mouse Scroll ---- */
.scroll-ind {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 5rem;
    transition: 0.3s ease;
}

.scroll-ind.scrollmouseeffect {
    display: none;
    transition: 0.6s;
}

.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;

}

.unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;

    animation-direction: alternate;
    animation-delay: alternate;
}

.doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;

    animation-delay: .2s;
    animation-direction: alternate;

    margin-top: -6px;
}

.trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;

    animation-delay: .3s;
    animation-direction: alternate;


    margin-top: -6px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid var(--text-color);
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: var(--text-color);
    position: relative;

    height: 4px;
    width: 4px;
    border: 2px solid var(--text-color);
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@-o-keyframes mouse-wheel {

    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@keyframes mouse-wheel {

    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}


/* ---- About Page ---- */
#about-page {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}

.about_page_wrapper {
    padding: 7rem 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_page_wrapper section {
    width: 50%;
}

.about_page_wrapper .profile-img {
    width: 500px;
}

.about_page_wrapper .about-desc {
    color: var(--text-color);
    opacity: 0.8;
    letter-spacing: 1.5px;
    font-size: 1rem;
}


/* ---- Skill Page ---- */
#skills-page {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}

.skill_page_wrapper {
    padding: 7rem 0;
}

.skill_page_wrapper .skill-card {
    width: 9rem;
    padding: 5px;
    background-color: var(--card-color);
    border-radius: 5px;
    margin: 1rem .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.skill_page_wrapper .skill-card img {
    width: 60px;
    margin-top: 5px;
}

.skill_page_wrapper .skill-card p {
    margin-top: 1rem;
    letter-spacing: 1px;
    font-size: 14px;
}

.skill_page_wrapper .skill-card:hover {
    box-shadow: 0px 2px 5px var(--card-text-color);
    transform: translateY(-5px);
}


/* ---- Project Page ---- */
#projects-page {
    width: 100%;
    height: auto;
    background-color: var(--background-color);
}

.project_page_wrapper {
    width: 100%;
    padding: 7rem 0;
}

.project_page_wrapper .row {
    padding: 4rem;
}

.project_page_wrapper .project-card {
    width: 75%;
    position: relative;
}

.project_page_wrapper .project-card img {
    border-radius: 0;
    opacity: 0.3;
}

.project-card-body {
    color: var(--text-color);
    position: relative;
    z-index: 1;
    padding: 3rem;
}

.project-card-body h2 {
    font-size: 3rem;
}

.project-card-body p {
    letter-spacing: 1px;
}

.project-card-body:nth-child(even) {
    text-align: right;
}

.project-card .desc-odd {
    text-align: end;
}

.project-card-body .number-odd {
    position: absolute;
    font-size: 12rem;
    right: 0;
    top: 0;
    margin: -18rem 0;
}

.project-card-body .number-even {
    position: absolute;
    font-size: 12rem;
    left: 0;
    top: 0;
    margin: -18rem -26rem;
}

.project_page_wrapper .project-card::after {
    position: absolute;
    content: '';
    height: 100%;
    bottom: 0;
    left: 0;
    width: 0;
    transition: 0.5s;
}

.project_page_wrapper .project-card:hover::after {
    width: 100%;
    background: var(--color-blue-one);
    background: -webkit-linear-gradient(to right, var(--color-blue-two), var(--color-blue-one));
    background: linear-gradient(to right, var(--color-blue-two), var(--color-blue-one));
    opacity: 0.9;
}


/* ---- Blog Page ---- */
#blog-page {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}

.blog_page_wrapper {
    padding: 7rem 0;
}

.blog_page_wrapper .blog-card {
    width: 22rem;
    height: 18rem;
    background-color: var(--card-color);
    margin: 10px;
}


/* ---- Contact Page ---- */
#contact-page {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
}

.contact_page_wrapper {
    width: 100%;
    padding: 7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact_page_wrapper form {
    color: var(--text-color);
}

.contact_page_wrapper .form-control,
.contact_page_wrapper .form-control:focus {
    color: var(--color-grey);
    border: none;
    border-bottom: 1px solid var(--text-color);
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}


/* ---- Footer ---- */
.footer {
    background-color: var(--color-black-two);
}

.footer a {
    text-decoration: none;
    color: var(--color-orange-one);
    letter-spacing: 1.5px;
}

.footer a:hover {
    color: var(--color-orange-one);
    text-decoration: underline;
}


/* ---- Project Page 2 ---- */
#project-page-2 {
    width: 100%;
    height: auto;
    background-color: var(--background-color);
}

#project-page-2 .project_section_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#project-page-2 .project-title {
    font-style: italic;
}

#project-page-2 .project_section_wrapper section {
    width: 50%;
}

#project-page-2 .project_section_wrapper section img {
    width: 100%;
}

.project-body-description {
    padding-bottom: 2rem;
}

.project-body-description p {
    color: var(--text-description-color);
    background-color: var(--color-white-two);
    box-shadow: 0px 0px 5px 0px var(--button-text-color);
    cursor: pointer;
}

.project-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    color: var(--text-color);
}

.project-images img {
    width: 100%;
}