@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'League Spartan', sans-serif;
}

button {
  font-family: 'League Spartan', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1C1D25;
}

.header-title {
  color: #F3F3F3;
  font-size: 3rem;
  letter-spacing: 2px;
}

.text-highlight {
  color: #FF416C;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .header-title {
    font-size: 2.5rem;
  }
}